addict==2.4.0
aiohttp==3.7.4.post0
anyio==3.3.0
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.1
h11==0.12.0
h2==4.0.0
hpack==4.0.0
httpcore==0.13.6
httpx==0.19.0
hyperframe==6.0.1
idna==3.2
lxml==4.6.3
multidict==5.1.0
nimporter==1.0.4
numpy==1.21.2
pandas==1.3.2
py==1.10.0
pyshark==0.4.3
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
typing-extensions==3.10.0.1
urllib3==1.26.6
voluptuous==0.12.1
yarl==1.6.3
